body{
    margin: 0;
    padding: 0;
    background-image: url("../img/antartida.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.Header{
   background: linear-gradient((#787eec),(#d467a0));
   box-shadow: 0 20px 30px $First-color;
}
